body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #f6f6f6;
	text-align: center;
}

form {
	display: inline-block;
	text-align: left;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ccc;
}

label {
	font-weight: bold;
	color: #333;
}

input {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: inset 0px 0px 5px #ccc;
}

#submitButton {
	background-color: #007aff;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

#submitButton:hover {
	background-color: #0062cc;
}

#moneySaved {
	font-size: 1.5em;
	font-weight: bold;
	color: #007aff;
	margin-top: 20px;
}
